*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}
html,body{
    height: 100%;
    width: 100%;
}

.main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #dadada;
}

#box{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    border-radius: 10px;
    height: 50%;
    width: 30%;
    background-color: red;
}
#box h1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
}

button{
    margin: 10px;
    height: 60px;
    color: #000;
    width: 160px;
    font-size: 20px;
    border-radius: 10px;
    background-color: lightseagreen;
    border: none;
    font-weight: 600;
}